
.Nav-bar-bg {
    width: 97%;
    height: 90px;
    padding: 8.5px 25px 1.7px 24.5px;
    background-color: #ff7f00;
  }
  .logo{
    position: relative;
    bottom: -27%;
    width: 150px;
    margin: 3.5px 400.8px 8.3px 0;
    object-fit: contain;
  }
  .Gallery {
    position: relative;
    bottom: -15%;
  right: -55%;
    width: 36.7px;
    height: 22.8px;
    /* margin: 0 4.5px 0 0; */
    font-family: Montserrat;
    font-size: 30px;
    /* line-height: 1.2; */
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    /* margin: 3.5px 400.8px 8.3px 0; */
    /* object-fit: contain; */
  }  

.upload_btn{
    /* position:absolute; */
    /* width:200px;
    height:40px; */
    /* margin-top:-40px; */
    z-index:10;
    /* opacity:0; */
}
  .editor-bg {
    width: 75.2%;
    height: 700px;
    margin: 0 0 12.8px;
    padding: 13px 67.5px 12.5px 345.5px;
    background-color: #e3e3e3;
  }
 
.canvas-container {
  position: relative;
    width: 500px;
    height: 275.5px;
    margin: 0 0 24.3px;
    padding: 5.5px 0 96.2px;
    object-fit: contain;
}

canvas {
  position: absolute;
  right: 0%;
    display: block;
    top: 25%;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: #fff;
}
.form-container{
  position: absolute;
  left: 55%;  
  top:35%;
  margin: 0 auto;
}
.Rounded-Rectangle-4 {
  position: absolute;
  top: -25%;
  width: 350px;
  height: 70px;
  margin: 0 0 9px;
  border-radius: 6px;
  background-color: #fff;
}
.upload-photo {
  position: relative;
  right: -25%;
  width: 200px;
  height: 30px;
  margin: 10px;
  /* padding: 9.7px 15.6px 8.3px 15.4px; */
  border-radius: 6px;
  font-size: 17px;
  font-weight: 200;
  background-color: #ff7f00;
}
.btn-first-line{
  display:inline-block;
  position: relative;
  right: -23%;
}
.trash-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px; */
  /* padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.trash {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.add-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.add {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.up-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.up {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.down-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.down {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}

.btn-second-line{
  /* display:inline-block; */
  position: relative;
  right: -23%;
}
.increase-font-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.increase {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.decrease-font-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.decrease {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.align-to-left-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.align-left {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.align-to-center-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.align-center {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}
.align-to-right-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.align-right {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}

.btn-third-line{
  /* display:inline-block; */
  position: relative;
  right: -23%;
}
.font-input {
  width: 109px;
  height: 46px;
  margin: 5px 0px 0 0;
  padding: 9.2px 6.5px 8.8px 10.2px;
  border-radius: 6px;
  background-color: #ffff
}
.Shape-1 {
  width: 7.5px;
  height: 6.5px;
  margin: 4.8px 0 0.7px 78.8px;
  background-color: #000;
}
.text-shadow-btn {
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
a {
  width: 17px;
  height: 28.5px;
  -webkit-text-stroke: 2.5px #000;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.color-btn {
  position: absolute;
  bottom: 0%;
  width: 50px;
  height: 50px;
  /* margin: 4.5px 38.5px 0 9px;
  padding: 5.5px 5.5px 5px 5px; */
  border-radius: 6px;
  background-color: #fff;
}
img.color {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.btn-fourth-line{
  /* display:inline-block; */
  position: relative;
  margin: 15px 0 10px 0.5px;
  padding: 16px 3.7px;
  right: -15%;
  border-radius: 6px;
  background-color: #fff;
}

.carousel {
  position: relative;
  width: 80%;
  height: 50px; 
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.slide-2 {
  background-color: green;
}

.slide-3 {
  background-color: red;
}

.slide-4 {
  background-color: purple;
}

.slide-5 {
  background-color: yellow;
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.btn-fifth-line{
  position: relative;
  right: -23%;
}
.download-btn {
  position: fixed;
  right: 27%;
  width: 120px;
  height: 50px;
  /* margin: 10px 0 0 127px;
  padding: 9.7px 15.6px 8.3px 15.4px; */
  border-radius: 6px;
  font-size: 17px;
  font-weight: 200;
  background-color: #ff7f00;
}
.share-to-fb {
  width: 120px;
  height: 50px;
  /* margin: 10px 0 0 127px;
  padding: 9.7px 15.6px 8.3px 15.4px; */
  border-radius: 6px;
  font-size: 17px;
  font-weight: 200;
  background-color: #ff7f00;
}